body{
  font-family: 'EB Garamond', serif;
    text-align: center;
    line-height: 1.4;
}

.container-fluid{
    background: #374e62;
}

/* tablet*/
@media only screen and (max-device-width:760px){
  .mobile{
     display: none; 
  }
  .jumbotron{
    display: none;
  }
}